In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('85cbb44bd7a7544ae9c2a71206d7ce59.xlsx', skiprows=5)
df.head()

,NO.,Unnamed: 1,NIM,Unnamed: 3,NAMA,Unnamed: 5,FAKULTAS,Unnamed: 7,Unnamed: 8,LOKASI,Unnamed: 10,KECAMATAN,Unnamed: 12,Unnamed: 13,KABUPATEN,Unnamed: 15
0,1,NaN,2.107521e+09,NaN,I Kadek Dwi Wahyudiana Putra,NaN,Fakultas Ekonomi dan Bisnis,NaN,NaN,AYUNAN,NaN,ABIANSEMAL,NaN,NaN,BADUNG,NaN
1,2,NaN,2.107521e+09,NaN,Putu Risma Puspita Dewi,NaN,Fakultas Ekonomi dan Bisnis,NaN,NaN,AYUNAN,NaN,ABIANSEMAL,NaN,NaN,BADUNG,NaN
2,3,NaN,2.107531e+09,NaN,Ni Made Ayu Tabita Cintya Hardi,NaN,Fakultas Ekonomi dan Bisnis,NaN,NaN,AYUNAN,NaN,ABIANSEMAL,NaN,NaN,BADUNG,NaN
3,4,NaN,2.107531e+09,NaN,NI PUTU ESHA DARMAYANTI,NaN,Fakultas Ekonomi dan Bisnis,NaN,NaN,AYUNAN,NaN,ABIANSEMAL,NaN,NaN,BADUNG,NaN
4,5,NaN,2.104551e+09,NaN,I Gusti Bagus Krisna Putra Pratama,NaN,Fakultas Hukum,NaN,NaN,AYUNAN,NaN,ABIANSEMAL,NaN,NaN,BADUNG,NaN

In [3]:
df_akhir = df[-14:-3]
df_akhir.tail()

,NO.,Unnamed: 1,NIM,Unnamed: 3,NAMA,Unnamed: 5,FAKULTAS,Unnamed: 7,Unnamed: 8,LOKASI,Unnamed: 10,KECAMATAN,Unnamed: 12,Unnamed: 13,KABUPATEN,Unnamed: 15
3684,NaN,3685.0,NaN,2.108511e+09,NaN,SELMA QUEENA,NaN,Fakultas Matematika dan Ilmu Pengetahuan Alam,NaN,NaN,TUNJUK,NaN,TABANAN,NaN,NaN,TABANAN
3685,NaN,3686.0,NaN,2.111521e+09,NaN,Mohammad Raja Ikhsan,NaN,Fakultas Pariwisata,NaN,NaN,TUNJUK,NaN,TABANAN,NaN,NaN,TABANAN
3686,NaN,3687.0,NaN,2.106541e+09,NaN,AULIYA PUTRI MUANTI,NaN,Fakultas Pertanian,NaN,NaN,TUNJUK,NaN,TABANAN,NaN,NaN,TABANAN
3687,NaN,3688.0,NaN,2.105551e+09,NaN,I Gusti Putu Agung Wahyu Sentana Putra,NaN,Fakultas Teknik,NaN,NaN,TUNJUK,NaN,TABANAN,NaN,NaN,TABANAN
3688,NaN,3689.0,NaN,2.110521e+09,NaN,Roulina Manik,NaN,Fakultas Teknologi Pertanian,NaN,NaN,TUNJUK,NaN,TABANAN,NaN,NaN,TABANAN

In [4]:
#
df_akhir['NO.'] = df_akhir['Unnamed: 1']
df_akhir['NIM'] = df_akhir['Unnamed: 3']
df_akhir['NAMA'] = df_akhir['Unnamed: 5']
df_akhir['FAKULTAS'] = df_akhir['Unnamed: 7']
df_akhir['LOKASI'] = df_akhir['Unnamed: 10']
df_akhir['KECAMATAN'] = df_akhir['Unnamed: 12']
df_akhir['KABUPATEN'] = df_akhir['Unnamed: 15']
df_akhir.tail()

C:\Users\Windows\AppData\Local\Temp\ipykernel_30092\3003320924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_akhir['NO.'] = df_akhir['Unnamed: 1']
C:\Users\Windows\AppData\Local\Temp\ipykernel_30092\3003320924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_akhir['NIM'] = df_akhir['Unnamed: 3']
C:\Users\Windows\AppData\Local\Temp\ipykernel_30092\3003320924.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_akhir['NAMA'] = df_akhir['Unnamed: 5']
C:\Users\Windows\AppData\Local\Temp\ipykernel_30092\3003320924.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_akhir['FAKULTAS'] = df_akhir['Unnamed: 7']
C:\Users\Windows\AppData\Local\Temp\ipykernel_30092\3003320924.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_akhir['LOKASI'] = df_akhir['Unnamed: 10']
C:\Users\Windows\AppData\Local\Temp\ipykernel_30092\3003320924.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_akhir['KECAMATAN'] = df_akhir['Unnamed: 12']
C:\Users\Windows\AppData\Local\Temp\ipykernel_30092\3003320924.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_akhir['KABUPATEN'] = df_akhir['Unnamed: 15']

,NO.,Unnamed: 1,NIM,Unnamed: 3,NAMA,Unnamed: 5,FAKULTAS,Unnamed: 7,Unnamed: 8,LOKASI,Unnamed: 10,KECAMATAN,Unnamed: 12,Unnamed: 13,KABUPATEN,Unnamed: 15
3684,3685.0,3685.0,2.108511e+09,2.108511e+09,SELMA QUEENA,SELMA QUEENA,Fakultas Matematika dan Ilmu Pengetahuan Alam,Fakultas Matematika dan Ilmu Pengetahuan Alam,NaN,TUNJUK,TUNJUK,TABANAN,TABANAN,NaN,TABANAN,TABANAN
3685,3686.0,3686.0,2.111521e+09,2.111521e+09,Mohammad Raja Ikhsan,Mohammad Raja Ikhsan,Fakultas Pariwisata,Fakultas Pariwisata,NaN,TUNJUK,TUNJUK,TABANAN,TABANAN,NaN,TABANAN,TABANAN
3686,3687.0,3687.0,2.106541e+09,2.106541e+09,AULIYA PUTRI MUANTI,AULIYA PUTRI MUANTI,Fakultas Pertanian,Fakultas Pertanian,NaN,TUNJUK,TUNJUK,TABANAN,TABANAN,NaN,TABANAN,TABANAN
3687,3688.0,3688.0,2.105551e+09,2.105551e+09,I Gusti Putu Agung Wahyu Sentana Putra,I Gusti Putu Agung Wahyu Sentana Putra,Fakultas Teknik,Fakultas Teknik,NaN,TUNJUK,TUNJUK,TABANAN,TABANAN,NaN,TABANAN,TABANAN
3688,3689.0,3689.0,2.110521e+09,2.110521e+09,Roulina Manik,Roulina Manik,Fakultas Teknologi Pertanian,Fakultas Teknologi Pertanian,NaN,TUNJUK,TUNJUK,TABANAN,TABANAN,NaN,TABANAN,TABANAN

In [5]:
#removing unnamed header
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.dropna(inplace=True)
df.tail()

,NO.,NIM,NAMA,FAKULTAS,LOKASI,KECAMATAN,KABUPATEN
3673,3674,2.107511e+09,I Gede Dedy Setiawan,Fakultas Ekonomi dan Bisnis,TUNJUK,TABANAN,TABANAN
3674,3675,2.107521e+09,Putu Tanaya Renita Udayana,Fakultas Ekonomi dan Bisnis,TUNJUK,TABANAN,TABANAN
3675,3676,2.107531e+09,I Gusti Ayu Wulan Pradnyadewi,Fakultas Ekonomi dan Bisnis,TUNJUK,TABANAN,TABANAN
3676,3677,2.104551e+09,Ni Kadek Devi Aprianti,Fakultas Hukum,TUNJUK,TABANAN,TABANAN
3677,3678,2.101511e+09,HELGA KALYCA PURNAMA,Fakultas Ilmu Budaya,TUNJUK,TABANAN,TABANAN

In [6]:
df_akhir = df_akhir.loc[:, ~df_akhir.columns.str.contains('^Unnamed')]
df_akhir.tail()

,NO.,NIM,NAMA,FAKULTAS,LOKASI,KECAMATAN,KABUPATEN
3684,3685.0,2.108511e+09,SELMA QUEENA,Fakultas Matematika dan Ilmu Pengetahuan Alam,TUNJUK,TABANAN,TABANAN
3685,3686.0,2.111521e+09,Mohammad Raja Ikhsan,Fakultas Pariwisata,TUNJUK,TABANAN,TABANAN
3686,3687.0,2.106541e+09,AULIYA PUTRI MUANTI,Fakultas Pertanian,TUNJUK,TABANAN,TABANAN
3687,3688.0,2.105551e+09,I Gusti Putu Agung Wahyu Sentana Putra,Fakultas Teknik,TUNJUK,TABANAN,TABANAN
3688,3689.0,2.110521e+09,Roulina Manik,Fakultas Teknologi Pertanian,TUNJUK,TABANAN,TABANAN

In [7]:
#join both df
df = pd.concat([df, df_akhir])
df.tail()

,NO.,NIM,NAMA,FAKULTAS,LOKASI,KECAMATAN,KABUPATEN
3684,3685.0,2.108511e+09,SELMA QUEENA,Fakultas Matematika dan Ilmu Pengetahuan Alam,TUNJUK,TABANAN,TABANAN
3685,3686.0,2.111521e+09,Mohammad Raja Ikhsan,Fakultas Pariwisata,TUNJUK,TABANAN,TABANAN
3686,3687.0,2.106541e+09,AULIYA PUTRI MUANTI,Fakultas Pertanian,TUNJUK,TABANAN,TABANAN
3687,3688.0,2.105551e+09,I Gusti Putu Agung Wahyu Sentana Putra,Fakultas Teknik,TUNJUK,TABANAN,TABANAN
3688,3689.0,2.110521e+09,Roulina Manik,Fakultas Teknologi Pertanian,TUNJUK,TABANAN,TABANAN

In [8]:
#finding duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [NO., NIM, NAMA, FAKULTAS, LOKASI, KECAMATAN, KABUPATEN]
Index: []

In [9]:
print(len(df))
df.drop('NO.', axis=1, inplace=True)
df_clean = df.drop_duplicates()
print(len(df_clean))

3689
3680

In [13]:
#grouping by lokasi
df_grouped = df_clean.groupby('LOKASI')
df_grouped.head()

,NIM,NAMA,FAKULTAS,LOKASI,KECAMATAN,KABUPATEN
0,2.107521e+09,I Kadek Dwi Wahyudiana Putra,Fakultas Ekonomi dan Bisnis,AYUNAN,ABIANSEMAL,BADUNG
1,2.107521e+09,Putu Risma Puspita Dewi,Fakultas Ekonomi dan Bisnis,AYUNAN,ABIANSEMAL,BADUNG
2,2.107531e+09,Ni Made Ayu Tabita Cintya Hardi,Fakultas Ekonomi dan Bisnis,AYUNAN,ABIANSEMAL,BADUNG
3,2.107531e+09,NI PUTU ESHA DARMAYANTI,Fakultas Ekonomi dan Bisnis,AYUNAN,ABIANSEMAL,BADUNG
4,2.104551e+09,I Gusti Bagus Krisna Putra Pratama,Fakultas Hukum,AYUNAN,ABIANSEMAL,BADUNG
...,...,...,...,...,...,...
3673,2.107511e+09,I Gede Dedy Setiawan,Fakultas Ekonomi dan Bisnis,TUNJUK,TABANAN,TABANAN
3674,2.107521e+09,Putu Tanaya Renita Udayana,Fakultas Ekonomi dan Bisnis,TUNJUK,TABANAN,TABANAN
3675,2.107531e+09,I Gusti Ayu Wulan Pradnyadewi,Fakultas Ekonomi dan Bisnis,TUNJUK,TABANAN,TABANAN
3676,2.104551e+09,Ni Kadek Devi Aprianti,Fakultas Hukum,TUNJUK,TABANAN,TABANAN
3677,2.101511e+09,HELGA KALYCA PURNAMA,Fakultas Ilmu Budaya,TUNJUK,TABANAN,TABANAN

In [14]:
#distinct per lokasi
df_grouped['LOKASI'].unique().count()

231

In [32]:
#rata-rata per lokasi
df_grouped.agg('count')['NIM']
desa_summary = df_grouped.agg('count')['NIM'].sum()
total_desa = df_grouped['LOKASI'].unique().count()
rata_rata = desa_summary/total_desa
print(rata_rata)

minimal = df_grouped.agg('count')['NIM'].min()
print(minimal)

maksimal = df_grouped.agg('count')['NIM'].max()
print(maksimal)

#find minimal
print(df_grouped.agg('count')['NIM'].idxmin())

#find maximal
print(df_grouped.agg('count')['NIM'].idxmax())

#total nim per lokasi
print(df_grouped['NIM'].count().sort_values(ascending=True))

#cek kutampi
# print(df_grouped.get_group('KUTAMPI').sort_values(by='NIM'))

15.930735930735931
11
18
PENYABANGAN
BANJAR
LOKASI
PENYABANGAN    11
PED            12
MANISTUTU      12
GALUNGAN       12
PEJARAKAN      12
               ..
PEJENG         18
PANGYANGAN     18
KALIBUKBUK     18
GULINGAN       18
PENARUNGAN     18
Name: NIM, Length: 231, dtype: int64

In [36]:
print(total_desa)

231

In [35]:
# lokasi penyabangan
df_clean[df_clean['KECAMATAN'] == 'GEROKGAK']

,NIM,NAMA,FAKULTAS,LOKASI,KECAMATAN,KABUPATEN
895,2.107511e+09,SELLA MERITA,Fakultas Ekonomi dan Bisnis,MUSI,GEROKGAK,BULELENG
896,2.104551e+09,Carolyn Vaniakana Sindinawa Sowolino,Fakultas Hukum,MUSI,GEROKGAK,BULELENG
897,2.101541e+09,Ni Luh Gede Ayu Seputri,Fakultas Ilmu Budaya,MUSI,GEROKGAK,BULELENG
898,2.112511e+09,Maulidien Jihan Afifah,Fakultas Ilmu Sosial dan Ilmu Politik,MUSI,GEROKGAK,BULELENG
899,2.102511e+09,NI PUTU WULAN TANTRI DEWI,Fakultas Kedokteran,MUSI,GEROKGAK,BULELENG
900,2.102521e+09,Ni Putu Niken Setiya Dewi,Fakultas Kedokteran,MUSI,GEROKGAK,BULELENG
901,2.102531e+09,Ni Putu Gita Risma Yanti,Fakultas Kedokteran,MUSI,GEROKGAK,BULELENG
902,2.109511e+09,Made Sandy Widhi Raharja,Fakultas Kedokteran Hewan,MUSI,GEROKGAK,BULELENG
903,2.108541e+09,Made Shanta Raima Wijaya,Fakultas Matematika dan Ilmu Pengetahuan Alam,MUSI,GEROKGAK,BULELENG
904,2.108541e+09,Ni Putu Meyla Aryani,Fakultas Matematika dan Ilmu Pengetahuan Alam,MUSI,GEROKGAK,BULELENG
905,2.111511e+09,SINDI BERLIANA BR SIAGIAN,Fakultas Pariwisata,MUSI,GEROKGAK,BULELENG
906,2.106511e+09,Maksilianus Evagrius Saputra,Fakultas Pertanian,MUSI,GEROKGAK,BULELENG
907,2.110531e+09,Febry Selliyani Hutajulu,Fakultas Teknologi Pertanian,MUSI,GEROKGAK,BULELENG
908,2.107531e+09,NI KADEK BRENDA CINDY MANIKA,Fakultas Ekonomi dan Bisnis,PEJARAKAN,GEROKGAK,BULELENG
909,2.104551e+09,I Komang Gede Dwipayana Putra,Fakultas Hukum,PEJARAKAN,GEROKGAK,BULELENG
910,2.101511e+09,MAHILA EKA SALSABILA,Fakultas Ilmu Budaya,PEJARAKAN,GEROKGAK,BULELENG
911,1.912551e+09,Mohamad Febriyansyah Firdaus,Fakultas Ilmu Sosial dan Ilmu Politik,PEJARAKAN,GEROKGAK,BULELENG
912,2.112531e+09,Ni Putu Seni Pradnya Setyawati,Fakultas Ilmu Sosial dan Ilmu Politik,PEJARAKAN,GEROKGAK,BULELENG
913,2.102521e+09,Ni Komang Wulan Trisna Premarini,Fakultas Kedokteran,PEJARAKAN,GEROKGAK,BULELENG
914,2.102561e+09,Irma Lucia Stasya,Fakultas Kedokteran,PEJARAKAN,GEROKGAK,BULELENG
915,2.102561e+09,Putu Pramadiva Bawes Putri,Fakultas Kedokteran,PEJARAKAN,GEROKGAK,BULELENG
916,2.108521e+09,ADE NISA DALI SINAGA,Fakultas Matematika dan Ilmu Pengetahuan Alam,PEJARAKAN,GEROKGAK,BULELENG
917,2.105511e+09,Kleopas Yesyurun,Fakultas Teknik,PEJARAKAN,GEROKGAK,BULELENG
918,2.105531e+09,Isak Teramahi,Fakultas Teknik,PEJARAKAN,GEROKGAK,BULELENG
919,2.105551e+09,Bella Melina Pasaribu,Fakultas Teknik,PEJARAKAN,GEROKGAK,BULELENG
920,2.101541e+09,Albert Yohan Firlandi,Fakultas Ilmu Budaya,PENYABANGAN,GEROKGAK,BULELENG
921,2.101571e+09,Avilla Desyani Jovina Bahang,Fakultas Ilmu Budaya,PENYABANGAN,GEROKGAK,BULELENG
922,2.112541e+09,Safira Azra Bakti,Fakultas Ilmu Sosial dan Ilmu Politik,PENYABANGAN,GEROKGAK,BULELENG
923,2.112551e+09,Kensky Jonathan Juko Rottie,Fakultas Ilmu Sosial dan Ilmu Politik,PENYABANGAN,GEROKGAK,BULELENG
924,2.102521e+09,I GUSTI AYU INDAH MAHAYANI,Fakultas Kedokteran,PENYABANGAN,GEROKGAK,BULELENG
925,2.102521e+09,Carolin Nelce Woriori,Fakultas Kedokteran,PENYABANGAN,GEROKGAK,BULELENG
926,2.102561e+09,Ni Kadek Candra Febriyanti,Fakultas Kedokteran,PENYABANGAN,GEROKGAK,BULELENG
927,2.108541e+09,HIKMATUR RIZKA NUR AMZAH,Fakultas Matematika dan Ilmu Pengetahuan Alam,PENYABANGAN,GEROKGAK,BULELENG
928,2.106511e+09,I Gede Pradnyana Govinda,Fakultas Pertanian,PENYABANGAN,GEROKGAK,BULELENG
929,2.105521e+09,I WAYAN BAYU PRAMANA,Fakultas Teknik,PENYABANGAN,GEROKGAK,BULELENG
930,2.105541e+09,Jupael Sihombing,Fakultas Teknik,PENYABANGAN,GEROKGAK,BULELENG
931,2.107531e+09,Ni Made Satyani Paramaditha,Fakultas Ekonomi dan Bisnis,SUMBERKIMA,GEROKGAK,BULELENG
932,2.107531e+09,Putu Dias Listya Dewi,Fakultas Ekonomi dan Bisnis,SUMBERKIMA,GEROKGAK,BULELENG
933,2.004551e+09,RIZVAN DEWANA,Fakultas Hukum,SUMBERKIMA,GEROKGAK,BULELENG
934,2.101541e+09,Ida Ayu Nadyaswari Putri Pidada,Fakultas Ilmu Budaya,SUMBERKIMA,GEROKGAK,BULELENG
935,2.112551e+09,Ludgardis Bonita Jani,Fakultas Ilmu Sosial dan Ilmu Politik,SUMBERKIMA,GEROKGAK,BULELENG
936,2.102551e+09,ASVIN BURA,Fakultas Kedokteran,SUMBERKIMA,GEROKGAK,BULELENG
937,2.102551e+09,FADILA ROA AGUSTIN,Fakultas Kedokteran,SUMBERKIMA,GEROKGAK,BULELENG
938,2.102561e+09,Ida Ayu Ratih Kartika Maheswari,Fakultas Kedokteran,SUMBERKIMA,GEROKGAK,BULELENG
939,2.113521e+09,Sheren Steffany Siahainenia,Fakultas Kelautan dan Perikanan,SUMBERKIMA,GEROKGAK,BULELENG
941,2.108561e+09,I Dewa Ayu Diani,Fakultas Matematika dan Ilmu Pengetahuan Alam,SUMBERKIMA,GEROKGAK,BULELENG
942,2.108561e+09,I Made Widi Arsa Ari Saputra,Fakultas Matematika dan Ilmu Pengetahuan Alam,SUMBERKIMA,GEROKGAK,BULELENG
943,2.106511e+09,RAFI ZIKRI,Fakultas Pertanian,SUMBERKIMA,GEROKGAK,BULELENG
944,2.105511e+09,Amalia Fernanda,Fakultas Teknik,SUMBERKIMA,GEROKGAK,BULELENG